<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Anthony Bourdain - Home</title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/works">Works</a>
			<!-- <a href="/photo-gallery">Photo Gallery</a> -->
			<a href="/about">About</a>
		</nav>
		<div id="about-background">
			<div class="left-panel">
				<img src="/images/anthony-bourdain-travel.jpg" alt="Anthony bourdain in NYC">
			</div>
			<div class="right-panel">
				<h1>Anthony Bourdain - Chef at Large <br>1956 - 2018<br></h1>
				<div class="site-map">
					<div>
						<p>From a young age, Bourdain's passion for food was ignited, eventually leading him to pursue a career as a chef. After honing his skills in several renowned restaurants, he gained widespread recognition as the executive chef at Brasserie Les Halles in New York City. Bourdain's culinary expertise and adventurous spirit took him on expeditions to far-flung corners of the globe, where he explored diverse cultures, traditions, and cuisines.</p>
					</div>
					<div>
						<p>Bourdain's insatiable curiosity and love for travel propelled him to create the groundbreaking television series, 'Anthony Bourdain: No Reservations' and 'Parts Unknown.' Through these shows, he became a beloved and influential figure, showcasing the connection between food, culture, and the human experience. Bourdain's unique storytelling approach, coupled with his raw authenticity, allowed viewers to embark on immersive journeys that delved into the heart and soul of each location.</p>
					</div>
					<div>
						<p>Beyond his culinary and television endeavors, Bourdain was an accomplished author, penning acclaimed books such as 'Kitchen Confidential: Adventures in the Culinary Underbelly' and 'Medium Raw: A Bloody Valentine to the World of Food and the People Who Cook.' His writing provided a candid and unfiltered look into the culinary world, offering insights into the gritty realities and behind-the-scenes experiences.</p>
					</div>
					<div>
						<p>Tragically, Anthony Bourdain's untimely passing in June 2018 left a profound void in the culinary and travel world. Yet, his impact continues to resonate, inspiring countless individuals to embrace adventure, embrace diverse cultures, and explore the transformative power of food.</p>
					</div>
				</div>
				</div>
			</div>
		</div>
	</body>
</html>
