<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Anthony Bourdain - Home</title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/works">Works</a>
			<!-- <a href="/photo-gallery">Photo Gallery</a> -->
			<a href="/about">About</a>
		</nav>
		<div id="home-background">
			<div class="left-panel">
				<img src="/images/Anthony-Bourdain_2.jpeg" alt="Anthony bourdain in NYC">
			</div>
			<div class="right-panel">
				<h1>Welcome to Loopey Tunes' top Anthony Bourdain fan page</h1>
				<div class="site-map">
					<div>
						<h2 >Home</h2>
						<p>You are here! Contains the site map and a small introduction
						to the content of the website.</p>
					</div>
					<div>
						<h2>Works</h2>
						<p>A showcase of Bourdain's most notable projects, creations
						and achievements, detailing his unique contributions in the world of
						cuisine, TV and literature.</p>
					</div>
					<div>
						<h2>About</h2>
						<p>A deeper dive into Bourdain's background and personal
						journey.</p>
					</div>
				</div>
				</div>
			</div>
		</div>
	</body>
</html>
