<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Anthony Bourdain - Home</title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/works">Works</a>
			<!-- <a href="/photo-gallery">Photo Gallery</a> -->
			<a href="/about">About</a>
		</nav>
		<div id="works-background">
			<div class="right-panel">
				<h1>Bourdain's impact transcended boundaries, inspiring countless individuals to explore the diverse flavors of the world.</h1>
				<div class="site-map">
					<div>
						<h2 >Cuisine</h2>
						<p>Culinary Exploration: Bourdain fearlessly explored and embraced a wide range of global cuisines, showcasing lesser-known and street food cultures alongside fine dining experiences.</p>
						<p>Promotion of Traditional Foods: Bourdain actively championed regional and traditional dishes, promoting culinary diversity and preserving culinary heritage.</p>
						<p>Culinary Collaboration: Bourdain collaborated with renowned chefs, local cooks, and culinary experts worldwide, fostering cultural exchange and highlighting the talents of both well-known and underappreciated culinary figures.</p>
					</div>
					<div>
						<h2>Television</h2>
						<p>"Anthony Bourdain: Parts Unknown" (2013-2018): Bourdain's critically acclaimed travel and food show, which aired on CNN, took viewers on immersive journeys to lesser-explored destinations, showcasing their cultures, people, and cuisines.</p>
						<p>"No Reservations" (2005-2012): Bourdain's earlier television series, aired on the Travel Channel, where he traveled the globe, exploring diverse culinary traditions and engaging in thought-provoking conversations with locals.</p>
						<p>""The Layover" (2011-2013): A fast-paced show in which Bourdain made the most of his layovers in various cities, offering viewers an insider's guide to the best local eats, drinks, and experiences.</p>
					</div>
					<div>
						<h2>Literature</h2>
						<p>"Kitchen Confidential: Adventures in the Culinary Underbelly" (2000): Bourdain's memoir provided a raw and honest portrayal of the restaurant industry, becoming a bestseller and a cult classic, exposing both the gritty realities and the allure of the culinary world.</p>
						<p>"Medium Raw: A Bloody Valentine to the World of Food and the People Who Cook" (2010): In this follow-up to "Kitchen Confidential," Bourdain shared personal anecdotes, reflections, and critiques of the culinary industry, offering a unique perspective on the evolving food landscape.</p>
						<p>"Appetites: A Cookbook" (2016): Bourdain's cookbook was a departure from traditional chef-centric cookbooks, focusing on simple, home-cooked recipes that reflected his passion for good food and the joy of sharing meals with loved ones.</p>
					</div>
				</div>
				</div>
			<div class="left-panel">
				<img src="/images/anthony-eating.jpg" alt="Anthony bourdain in NYC">
			</div>
			
			</div>
		</div>
	</body>
</html>
